<header class="site-header">
  <div class="header-wrapper">
    <div class="header-content">
      <div class="logo">
        <a href="{{ shop.url }}"> <img src="{{ section.settings.logo | image_url }}" alt=""> </a>
      </div>

      <div class="navigation">
        {% for block in section.blocks %}
          {% case block.type %}
            
            {% when 'menu' %}
            
              <ul class="menu">
                {% for link in block.settings.menu.links %}
                  <li>
                    <a class="menu-item" href="{{ link.url }}"> {% render 'icon-plus-white' %} {{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>

            {% when 'megamenu' %}
            
              <ul class="megamenu-wrapper">
                <li>
                  <a class="megamenu" id="megamenu" href="{{ block.settings.megamenu_link_url }}"> {{ block.settings.megamenu_link_text -}} {% render 'icon-down-arrow' %} </a>  
                </li>
    
                  <div id="megamenu-item-wrapper" class="megamenu-item-wrapper">
                    <div class="megamenu-item">
                      <a href="{{ block.settings.first_megamenu_link_url }}">
                      <img  class="megamenu-image" src="{{ block.settings.first_megamenu_image | img_url :'master'}}"  alt=""  >
                      <div class="megamenu-item-content">
                        <a class="megamenu-link" href="{{ block.settings.first_megamenu_link_url }}">
                          {{- block.settings.first_megamenu_link_text }}
                          {% render 'icon-arrow' -%}
                        </a>
                      </div>
                      </a>
                    </div>

                    <div class="megamenu-item">
                      <a href="{{ block.settings.second_megamenu_link_url }}"> 
                        <img class="megamenu-image"  src="{{ block.settings.second_megamenu_image | img_url :'master'}}" alt="" >
                      <div class="megamenu-item-content">
                        <a class="megamenu-link" href="{{ block.settings.second_megamenu_link_url }}">
                          {{- block.settings.second_megamenu_link_text }}
                          {% render 'icon-arrow' -%}
                        </a>
                      </div>
                      </a>
                    </div>

                    <div class="megamenu-item">
                      <a href="{{ block.settings.third_megamenu_link_url }}"> 
                      <img  class="megamenu-image" src="{{ block.settings.third_megamenu_image | img_url :'master'}}" alt="">
                      <div class="megamenu-item-content">
                        <a class="megamenu-link" href="{{ block.settings.third_megamenu_link_url }}">
                          {{- block.settings.third_megamenu_link_text }}
                          {% render 'icon-arrow' -%}
                        </a>
                      </div>
                      </a>
                    </div>

                    <div class="megamenu-item"> 
                       <a href="{{ block.settings.fourth_megamenu_link_url }}"> 
                      <img class="megamenu-image"  src="{{ block.settings.fourth_megamenu_image | img_url :'master'}}" alt="">
                      <div class="megamenu-item-content">
                        <a class="megamenu-link" href="{{ block.settings.fourth_megamenu_link_url }}">
                          {{- block.settings.fourth_megamenu_link_text }}
                          {% render 'icon-arrow' -%}
                        </a>
                      </div>
                       </a>
                    </div>
                  </div>
              </ul>
          {% endcase %}
        {% endfor %}
      </div>

      <div class="header-right">
        <a href="/search">
          <span class="header-right-icon"> {% render 'icon-search' %} </span>
        </a>
        <a href="/account">
          <span class="header-right-icon"> {% render 'icon-user' %}</span>
        </a>
        <a href="/cart">
          <span class="header-right-icon"> {% render 'icon-cart-new' %}</span>
        </a>

        <!--
          <a href="#"> <img class="header-right-icon" src="{{ section.settings.user | img_url :'master' }}" alt=""></a>
          <a href="#"> <img class="header-right-icon" src="{{ section.settings.cart | img_url :'master' }}" alt=""></a>
        -->
      </div>
    </div>
  </div>
</header>

<script>
    const megamenu = document.getElementById("megamenu");
    const megamenuWrapper = document.getElementById("megamenu-item-wrapper");

  megamenu.addEventListener("mouseover", function () {
    // if(megamenuWrapper.style.display == "flex"){
    //   megamenuWrapper.style.display = "none";
    // }else{
      // megamenuWrapper.style.display = "flex";
    // }
    megamenuWrapper.style.display = "flex";
    
  });

  megamenu.addEventListener("click", function () {
    megamenuWrapper.style.display = "none";
  });

  megamenuWrapper.addEventListener("click", function () {
    megamenuWrapper.style.display = "none";
  });

  document.addEventListener("click", function () {
    if(megamenuWrapper.style.display == "flex"){
      megamenuWrapper.style.display = "none";
    }else{
      megamenuWrapper.style.display = "none";
    }
    
  });
</script>

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select Logo"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Choose Menu"
        }
      ]
    },
    {
      "type": "megamenu",
      "name": "Mega Menu",
      "settings": [
         {
          "type":"header",
          "content":"Mega Menu Settings"
        },
        {
          "type": "text",
          "id": "megamenu_link_text",
          "label": "Megamenu Link Text",
          "default": "Megamenu"
        },
        {
          "type": "url",
          "id": "megamenu_link_url",
          "label": "Megamenu URL"
        },
        {
          "type":"header",
          "content":"Fist Megamenu Settings"
        },
        {
          "type": "image_picker",
          "id": "first_megamenu_image",
          "label": "First Megamenu Image"
        },
        {
          "type": "text",
          "id": "first_megamenu_link_text",
          "label": "First Megamenu Link Text",
          "default": "T-Shirt"
        },
        {
          "type": "url",
          "id": "first_megamenu_link_url",
          "label": "First Megamenu Link URL"
        },
        {
          "type":"header",
          "content":"Second Megamenu Settings"
        },
        {
          "type": "image_picker",
          "id": "second_megamenu_image",
          "label": "Second Megamenu Image"
        },
        {
          "type": "text",
          "id": "second_megamenu_link_text",
          "label": "Second Megamenu Link Text",
          "default": "Sticker"
        },
        {
          "type": "url",
          "id": "second_megamenu_link_url",
          "label": "Second Megamenu Link URL"
        },
        {
          "type":"header",
          "content":"Third Megamenu Settings"
        },
        {
          "type": "image_picker",
          "id": "third_megamenu_image",
          "label": "Third Megamenu Image"
        },
        {
          "type": "text",
          "id": "third_megamenu_link_text",
          "label": "Third Megamenu Link Text",
          "default": "Poster"
        },
        {
          "type": "url",
          "id": "third_megamenu_link_url",
          "label": "Third Megamenu Link URL"
        },
        {
          "type":"header",
          "content":"Fourth Megamenu Settings"
        },
        {
          "type": "image_picker",
          "id": "fourth_megamenu_image",
          "label": "Fourth Megamenu Image"
        },
        {
          "type": "text",
          "id": "fourth_megamenu_link_text",
          "label": "Fourth Megamenu Link Text",
          "default": "Pullover"
        },
        {
          "type": "url",
          "id": "fourth_megamenu_link_url",
          "label": "Fourth Megamenu Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}
